@tailwind base;
@tailwind components;
@tailwind utilities;
@layer clerk;

@font-face {
  font-family: Montserrat;
  src: url('/fonts/Montserrat.ttf');
}

@theme inline {
  --font-montserrat: Montserrat
}
